<!DOCTYPE html>
<html lang="en">

<head>
  <title>Beauty Scraper</title>
  <meta charset="UTF-8">
  {{!-- Make it scalable --}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <!--link for google fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Dancing+Script|Julius+Sans+One|Kaushan+Script|Muli|Nothing+You+Could+Do|Oxygen|Pacifico|Poiret+One|Satisfy" rel="stylesheet">
  <!--link to style.css  -->
  <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
  {{{ body }}}
</body>

</html>