.container-fluid {
    background-image: url("https://i.imgur.com/JcQnK8w.jpg?2");
    height: 414px;
    /* background: fuchsia; */
}

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
}

li {
    padding-top: 5px;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

h2 {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 22px;
    padding-top: 5px;
}

button {
    font-family: 'Oxygen', sans-serif;
    background: #FF0030;
}


/* #articles {
    margin-top: 415px;
} */