.container-fluid {
    background-image: url("https://i.imgur.com/JcQnK8w.jpg?2");
    height: 414px;
    /* background: fuchsia; */
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

h2 {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 22px;
    padding-top: 5px;
}